#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.eyecatcher {
  
}

.icon {
  max-height: 8em;
}
.icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.registerForm {


body {
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
  
    text-align: center;
    
    width: 50vw;
    background-color: rgb(152, 113, 189);
    padding: 2vw 1vw;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    text-align: center;
   
    display: flex;
    flex-direction: column;
    margin: 0 2 ;
    width: 32vw;
    padding: 5vw 10vw;
    background-color: rgb(166, 128, 228);
    border-radius:0 0 10px 10px;
}


input {
    border: 1px solid rgb(107, 27, 103);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline:invert;
    margin: 10px ;
    background-color: #550A35;
}
}
.card {
  padding: 10rem;
}

